@model IEnumerable<FarmHouseDeliveryApp.Models.Department> 


<ul class="title-area">
    <!-- Title Area -->

    <li class="name">

    </li>

    <li class="toggle-topbar menu-icon">
        <a href="#"><span>menu</span></a>
    </li>
</ul>

<section class="top-bar-section">
    <!-- Right Nav Section -->

    <ul class="right">
        <li class="divider"></li>

        <li class="has-dropdown">
            <a href="#">Departments</a>

            <ul class="dropdown">
                <li><label>Departments</label></li>

                @foreach (var item in Model)
                {
                    <li class="has-dropdown">
                        <a href="/department/@Linkor.GenerateSlug(item.Name.ToString())" title="@Html.DisplayFor(modelItem => item.Description)">@Html.DisplayFor(modelItem => item.Name)</a>
                        <ul class="dropdown">
                            @{Html.RenderAction("Category", "Menu", new { id = item.Name });}
                        </ul>
                    </li>
                                }
            </ul>
        </li>

        <li class="divider"></li>

        <li>
            <a href="/About/">About</a>
        </li>

        <li class="divider"></li>

        <li>
            <a href="/Blog/">Blog</a>
        </li>
        @Html.Partial("_LoginPartial")
    </ul>
</section>
