@model IEnumerable<FarmHouseDeliveryApp.Models.Product>

<div class="top-brands">
    <div class="container">
        <h3>Hot Offers</h3>
        <!---728x90--->
        <div class="agile_top_brands_grids">
            @foreach (var item in Model)
            {
                <div class="col-md-3 top_brand_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="tag"></div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="/p/@item.Url"><img title="@Html.DisplayFor(modelItem => item.Title)" alt="@Html.DisplayFor(modelItem => item.Name)" src="~/ProductImages/@item.Thumbnail" class="img-responsive"></a>
                                            <p>@Html.DisplayFor(modelItem => item.Name)</p>
                                            <h4>$@Html.DisplayFor(modelItem => item.Price)</h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            <a href="/p/@item.Url" class="button">View</a>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="clearfix"> </div>
        </div>
    </div>
</div>